# My first R notebook

In [6]:
a=20
b<-10
30->c

In [7]:
a
b
c

[1] 20

[1] 10

[1] 30

In [8]:
n<-15
n

[1] 15

In [10]:
5->n
n

[1] 5

In [11]:
n<-10+2
n

[1] 12

In [12]:
n<-3+rnorm(1)
n

[1] 5.241883

In [13]:
(10+2)*5
#Not stored in memory

[1] 60

In [17]:
name<-"Vasanth";n1<-20;n2<-100;m<-0.5
ls()
#Display all the elements stored in memory(only names)

[1] "a"    "b"    "c"    "m"    "n"    "n1"   "n2"   "name"

In [18]:
ls(pat="m")
#pat represents pattern which returns names which containes the reqested alphabet

[1] "m"    "name"

In [19]:
ls(pat="^m")
#restricts the searrch to names which starts with m

[1] "m"

In [20]:
ls.str()

a :  num 20
b :  num 10
c :  num 30
m :  num 0.5
n :  chr "Vasanth"
n1 :  num 20
n2 :  num 100
name :  chr "Vasanth"

In [21]:
help(lm)

In [22]:
?lm

In [23]:
mode(n)
mode(name)
compr<-TRUE
mode(compr)

[1] "character"

[1] "character"

[1] "logical"

In [24]:
z<-1i
n<-20
mode(n)
mode(z)

[1] "numeric"

[1] "complex"

In [25]:
length(compr)
length(name)

[1] 1

[1] 1

In [26]:
name

[1] "Vasanth"

In [27]:
N<-2.1e23
N

[1] 2.1e+23

In [30]:
#Inf represents positive infinity and -Inf represents negitive infinity and NaN represents not a number
x<-5/0
x
exp(x)
exp(-x)
x-x

[1] Inf

[1] Inf

[1] 0

[1] NaN

In [31]:
x<-"Double quotes \"deliminates R's strings."
x
cat(x)
#if we want to include double quote in the text we should include " after \

[1] "Double quotes \"deliminates R's strings."

Double quotes "deliminates R's strings.